body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  nav {
    background-color: #9d9c9c;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  
  nav ul li {
    float: left;
  }
  .nav-bar:hover{
  background-color: #3b3b3b;
  }
  
  nav ul li a {
    display: block;
    padding: 14px 20px;
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li ul {
    display: none;
    position: absolute;
    background-color: #555;
  }
  
  nav ul li:hover > ul {
    display: inherit;
  }
  
  nav ul li ul li {
    float: none;
    display: list-item;
    position: relative;
  }
  
  nav ul li ul li a {
    padding: 10px 20px;
  }
  
  .menu-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .sub-menu {
    background-color: #fff;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .sub-menu img {
    border-radius: 5px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color:#9d9c9c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  .btn:hover{
    background-color: #333;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position:absolute;
    width: 100%;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  footer ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .social-media a {
    color: #fff;
    text-decoration: none;
  }
  
  .social-media i {
    font-size: 24px;
    margin-right: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* Add some styling to improve readability */
h2 {
    color: #333;
}
