body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  nav {
    background-color: #9d9c9c;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  
  nav ul li {
    float: left;
  }
  .nav-bar:hover{
  background-color: #3b3b3b;
  }
  
  nav ul li a {
    display: block;
    padding: 14px 20px;
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li ul {
    display: none;
    position: absolute;
    background-color: #555;
  }
  
  nav ul li:hover > ul {
    display: inherit;
  }
  
  nav ul li ul li {
    float: none;
    display: list-item;
    position: relative;
  }
  
  nav ul li ul li a {
    padding: 10px 20px;
  }
  
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position:relative;
    bottom: 0;
    width: 100%;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  footer ul li {
    display: inline;
    margin-right: 20px;
  }
  .footer{
    color: #fff;
  }
  
  .social-media a {
    color: #fff;
    text-decoration: none;
  }
  
  .social-media i {
    font-size: 24px;
    margin-right: 10px;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: #333;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}

p {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

span {
    font-weight: bold;
}
