body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* This ensures the body takes at least the full height of the viewport */
    margin: 0;
    overflow-y: auto; /* Enable vertical scrolling if the content overflows */

  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
    position: relative;
  }
  
  nav {
    background-color: #9d9c9c;
    width: 100%;
    position: relative;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  
  nav ul li {
    float: left;
  }
  .nav-bar:hover{
  background-color: #3b3b3b;
  }
  
  nav ul li a {
    display: block;
    padding: 14px 20px;
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li ul {
    display: none;
    position: absolute;
    background-color: #555;
  }
  
  nav ul li:hover > ul {
    display: inherit;
  }
  
  nav ul li ul li {
    float: none;
    display: list-item;
    position: relative;
  }
  
  nav ul li ul li a {
    padding: 10px 20px;
  }
  
  .menu-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .sub-menu {
    background-color: #fff;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .sub-menu img {
    border-radius: 5px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color:#9d9c9c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  .btn:hover{
    background-color: #333;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position:relative;
    width: 100%;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  footer ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .social-media a {
    color: #fff;
    text-decoration: none;
  }
  
  .social-media i {
    font-size: 24px;
    margin-right: 10px;
  }
  